<?xml version="1.0" encoding="UTF-8"?>

<web-app>
    <servlet>
         <servlet-name>Withdraw</servlet-name>
         <servlet-class>Withdraw</servlet-class>
    </servlet>
    <servlet-mapping>
         <servlet-name>Withdraw</servlet-name>
         <url-pattern>/withdraw</url-pattern>
    </servlet-mapping>
    
    <servlet>
         <servlet-name>ServletRequest</servlet-name>
         <servlet-class>ServletRequest</servlet-class>
    </servlet>
    <servlet-mapping>
         <servlet-name>ServletRequest</servlet-name>
         <url-pattern>/dynamicServlet/*</url-pattern>
    </servlet-mapping>
    
</web-app>